APP_NAME=
APP_PORT=
NODE_ENV=

DATABASE_SUPABASE=postgresql://postgres:senha@db.xxx.supabase.co:5432/postgres

JWT_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

REDIS_HOST=
REDIS_PORT=

KAFKA_BROKER=