# Application
APP_NAME=ph-nest-api
APP_PORT=3000
NODE_ENV=development

# Database
DATABASE_SUPABASE=postgresql://postgres:senha@db.xxx.supabase.co:5432/postgres
DATABASE_SSL=true
DATABASE_SYNCHRONIZE=false

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=15m

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REFRESH_TOKEN_EXPIRES_IN=604800

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
